{% extends 'base.html' %}

{% block head %}
  <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/login/">Sign In</a>
              </li>
            </ul>
      </div>
{% endblock %}

{% block body %}
<form method='POST'> {% csrf_token %}

            		{% if error %}
                	<div class="alert alert-danger alert-dismissable">
                  		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  	<strong>{{error}}</strong>
                	</div>
            		{% endif %}
            		<table>
            			{{ form }}
            		</table>
		            <!-- {{ form }}   -->
		            <button type='submit' class='btn btn-secondary'>Register</button>
</form>
{% endblock %}